body {
    margin: 0;
    border: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

h1 {
    font-family: "Rubik Puddles";
    font-size: 3rem;
}

.container {
    background-color: white;
    width: 100vw;
    height: 300px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.card {
    background-color: white;
    width: 200px;
    height: 150px;
    color: black;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid darkgoldenrod;
    border-left: 10px solid darkgoldenrod;
    box-shadow: 2px 2px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card p {
    text-align: justify;
    line-height: 0.2rem;
}

.btn {
    margin-top: 10px;
    border: none;
    background-color: rgb(118, 98, 57);
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
}

dialob::backdrop {
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

dialog {
    
    width: 30%;
    height:300px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#close {
    width: 30px;
}

dialog label {
    margin: 5px;
}

dialog fieldset {
    display: flex;
    flex-direction: column;
}

#submit {
    margin-top: 10px;
    border-radius: 10px;
}

dialog #submit {
    background-color: blue;
    color: white;
    border: none;
    height: 30px;
    width: 80px;
}

dialog > * {
    border-radius: 10px;
    margin-top: 10px;
}

.card p:nth-child(1) {
    font-weight: bolder;
    color: red;
}

.card p:not(:nth-child(1)) {
    font-weight: 500;
}