:root {
    background-color: #16C47F;
}

body {
  margin: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Orbitron", sans-serif;
}

* {
    font-family: 'Orbitron';
}

h1 {
  font-family: "Rubik Puddles";
  font-size: 3rem;
}

.container {
  width: 100vw;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  width: 200px;
  height: 150px;
  color: black;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #FF9D23;
  border-left: 10px solid #FF9D23;
  box-shadow: 2px 2px black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card p {
  text-align: justify;
  line-height: 0.2rem;
}

.btn {
  margin-top: 10px;
  border: none;
  background-color: #FFD65A;
  color: white;
  width: 200px;
  height: 80px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 4px 4px black;
}

.btn:hover {
    background-color: #b59637;
}

.btn:active {
    background-color: #b59637;
    transform: translateY(2px);
}

dialog::backdrop {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

dialog {
  width: 30%;
  height: 350px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

dialog #read {
  align-self: flex-start;
}

#close {
  width: 30px;
}

dialog label {
  margin: 5px;
}

dialog fieldset {
  display: flex;
  flex-direction: column;
}

#submit {
  margin-top: 10px;
  border-radius: 10px;
}

dialog #submit {
  background-color: blue;
  color: white;
  border: none;
  height: 30px;
  width: 80px;
}

dialog > * {
  border-radius: 10px;
  margin-top: 10px;
}

.card p:nth-child(1) {
  font-weight: bolder;
  color: #F93827;
  font-size: 1.2rem;
}

footer {
    padding: 20px;
}